---
http_interactions:
- request:
    method: get
    uri: https://www.revtrunk.com/api/v1/attachments/LufnCVQCAAAAAAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Rev welcome:AAAAAu/YjZ3phXU5FsF35yIcgiA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - ! '["2e6c5420-c68e-46b3-9302-1aef580afa7c"]'
    body:
      encoding: US-ASCII
      string: ! '{"kind":"media","name":"How can I find success in life.mp4","id":"LufnCVQCAAAAAAAA","audio_length":5,"links":[{"rel":"content","href":"https://www.revtrunk.com/api/v1/attachments/LufnCVQCAAAAAAAA/content"}]}'
  recorded_at: Thu, 12 Sep 2013 21:49:24 GMT
recorded_with: VCR 2.5.0
