---
http_interactions:
- request:
    method: get
    uri: https://www.revtrunk.com/api/v1/orders?clientRef=my%20ref&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Rev welcome:AAAAAu/YjZ3phXU5FsF35yIcgiA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":1,"results_per_page":25,"page":0,"orders":[{"order_number":"CP0180436196","client_ref":"4410704484001","price":2.4000,"status":"Finding
        Captioner","non_standard_tat_guarantee":"false","caption":{"total_length":2,"total_length_seconds":144},"comments":[],"attachments":[]}]}'
  recorded_at: Thu, 13 Aug 2015 22:33:40 GMT
recorded_with: VCR 2.9.3
