---
http_interactions:
- request:
    method: get
    uri: https://www.revtrunk.com/api/v1/orders?clientRef=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Rev welcome:AAAAAu/YjZ3phXU5FsF35yIcgiA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_count":6,"results_per_page":25,"page":0,"orders":[{"order_number":"CP0180436196","client_ref":"4410704484001","price":2.4000,"status":"Finding
        Captioner","priority":"Normal","caption":{"total_length":2,"total_length_seconds":144},"comments":[],"attachments":[]},{"order_number":"CP0401272205","client_ref":"4410588083001","price":1.0000,"status":"Complete","priority":"Normal","caption":{"total_length":1,"total_length_seconds":60},"comments":[],"attachments":[]},{"order_number":"CP0085433910","client_ref":"4410587997001","price":1.0000,"status":"Finding
        Captioner","priority":"Normal","caption":{"total_length":1,"total_length_seconds":60},"comments":[],"attachments":[]},{"order_number":"CP0369741536","client_ref":"4401126254001","price":1.0000,"status":"Finding
        Captioner","priority":"Normal","caption":{"total_length":1,"total_length_seconds":60},"comments":[],"attachments":[]},{"order_number":"CP0249249673","client_ref":"4342745182001","price":1.0000,"status":"Finding
        Captioner","priority":"Normal","caption":{"total_length":1,"total_length_seconds":60},"comments":[],"attachments":[]},{"order_number":"CP0470216754","client_ref":"4342745183001","price":1.0000,"status":"Complete","priority":"Normal","caption":{"total_length":1,"total_length_seconds":60},"comments":[],"attachments":[]}]}'
  recorded_at: Thu, 13 Aug 2015 22:10:18 GMT
recorded_with: VCR 2.9.3
