---
http_interactions:
- request:
    method: post
    uri: https://www.revtrunk.com/api/v1/orders
    body:
      encoding: UTF-8
      string: ! '{"payment":{"type":"AccountBalance"},"translation_options":{"source_language_code":"es","destination_language_code":"en","inputs":[{"word_length":1000,"uri":"urn:rev:inputmedia:SnVwbG9hZHMvMjAxMy0wOS0xNy9lMzk4MWIzNS0wNzM1LTRlMDAtODY1NC1jNWY4ZjE4MzdlMTIvc291cmNlZG9jdW1lbnQucG5n"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Rev welcome:AAAAAu/YjZ3phXU5FsF35yIcgiA=
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://www.revtrunk.com/api/v1/orders/TR0235803277
      X-Miniprofiler-Ids:
      - ! '["43bcb320-a1c9-4e9f-96c1-320e01a31549","ad8a37cd-e5ea-4134-ac9e-0390f722d6f6"]'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 18 Sep 2013 00:21:27 GMT
recorded_with: VCR 2.5.0
